* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}
:root {
    --Bitcoin-Orange:   #F7931A;
    --Soft-Orange:      #FFE9D5;
    --Secondary-Blue:   #1A9AF7;
    --Soft-Blue:        #E7F5FF;
    --Warm-Black:       #201E1C;
    --Warm-Black-1:     #282623;
    --Grey:             #757575;
    --Off-White:        #FAF8F7;
    --White:            #ffffff;
    --Grey2:            #B5B0AC;

}
.seccion1{
    width: 100%;
    height: 96em;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
    padding-top: 6em;
}

.c1{
    width: 100%;
    height: auto;
}

.papalina{
    height: auto;
    width: 15em;
    display: inline-block;
    margin-right: 2em;
    margin-top: 1em;
}

.title{
    font-size: 8em;
    color: var(--Bitcoin-Orange);
    display: inline-block;
    margin-bottom: 0.2em;
}

.c2{
    width: 100%;
    height: 44em;
    padding: 8em;
}

.title2{
    font-size: 8em;
    color: var(--White);
    display: inline-block;
    margin-bottom: 0.2em;
}

.c3{
    width: 100%;
    height: 20em;
    padding: 2.5em;
}

.title3{
    font-size: 4.5em;
    color: var(--Off-White);
    display: inline-block;
    margin-bottom: 0.2em;
}

.boton1{
    height: 10em;
    width: 55em;
    margin-top: 4em;
    border: none;
    border-radius: 1em;
    background-color: var(--Off-White);
    box-shadow: 0px 5px 35px rgba(0, 0, 0, .2);
    padding: 3em;
}

.textboton{
   font-size: 3.5em;
   float: left;
   color: var(--Warm-Black);
}

.cuadro1{
    width: 4em;
    height: 4em;
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

.seccion2{
    width: 100%;
    height: auto;
    background-color: var(--Off-White);
    padding: 3em;
    text-align: center;
}

.bitcoin{
    width: 70%;
    height: auto;
    margin-top: 15em;
}

.cajamonedas{
    height: 170em;
    width: 100%;
    margin-top: 12em;
    text-align: center;
}

.cajamonedastext{
    font-size: 8em;
    color: var(--Warm-Black);
    display: inline-block;
    margin-bottom: 0.2em;
    line-height: 1.1em;
}
.monedastext1{
    font-size: 4.5em;
    color: var(--Grey);
    margin-bottom: 0.2em;
    margin-top: 1.5em;
    line-height: 1.2em;
}
.monedas{
    height: 100em;
    width: 70%;
    margin: auto;
    margin-top: 18em;
}
.monedastext2{
   font-size: 5.5em;
   float: left;
   color: var(--Bitcoin-Orange);
    margin-bottom: 1em;
    margin-left: 0.5em;
}
.tabla{
    border: 1px solid;
    width: 100%;
    height: 50em;
    border-collapse: collapse;
    border-radius: 2em;
    box-shadow: 0px 0px 0px 1px var(--White);
    overflow: hidden;
    background-color: var(--White);
}
.tabla td{
    text-align: left;
    border: 2px solid var(--Off-White);
    font-size: 5.5em;
}

th, td {
  padding: 0.5em;
}
.an{
    color: var(--Grey2);
}
.un{
    color: var(--Grey);
}
.flecha{
    height: 1em;
    width: 1.2em;
    margin-left: 0.8em;
}
.icono{
    float: right;
    margin-top: 53em;
    margin-right: 4em;
}
.actu{
    width: 90%;
    height: 9em;
    background-color: var(--Soft-Orange);
    margin: auto;
    border-radius: 2em;
    margin-top: 4.5em;
    padding: 2em;
}
.actu p{
    font-size: 4em;
}